.receta__boton{
    background: #DA2B1F;
    border: #DA2B1F;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

.receta__boton:hover{
    cursor: pointer;
    background: #9f1010;
}